/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.sel-contain{
   display: block;
}

#dropdownMenuButton, .dropdown-toggle{
  background: white;
  border: 5px solid black;
  color: black;
  font-weight: bold;
  font-family: bold;

}

.index-item{
  border-left: 2px solid black;
  color: black;
}

.page{
  list-style: none;
}

.right{
  width: 689px;
  border-top: inset;
  border-right: outset;
  height: 34px;
  color: red;
  position: absolute;
}

.right1{
  width: 689px;
  border-top: inset;
  border-right: outset;
  height: 34px;
  color: green;
  position: absolute;
}

.right2{
  width: 689px;
  border-top: inset;
  border-right: outset;
  height: 34px;
  color: #085bf1;
  position: absolute;
}

.text-info{
  color: #085bf1;
}

stroke{
  display: flex;
}

.collection-list, .news{
  z-index: 3;
  text-align: left;
  font-family: bold;
  top: 30px;
  border: 4px solid black;
  list-style: none;
}

@font-face {font-family:"PBA"; src:url("pba.ttf");}
@font-face {font-family:"Lovelo"; src:url("lovelo.ttf");}

.PBA-title {
    font-family:"PBA";
}

.Lovelo {
    font-family:"Lovelo";
}

.color-white {
    color:white !important;
}

.color-black {
    color:black;
}

.hover-header:hover, .search:hover, .hover-header:hover .MY-PBA {
    transition: color 0.5s !important;
    color:red !important;
    border-color:red !important;
}

.form-control {
    border:4px solid white;
    border-radius:0;
    background-color:black;
}


/*.fas{
  font-size: 30px;
  margin-left: 19.2em;
}

.innercontent{
  margin-left: 30em;
}

.agenda{
   width: 80px;
   margin-left: 34em;
}*/
.h3{
  font-size: 25px;
}


.pointer {
    min-height:25px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background:inherit;
    color:white;
    border:none;
}

.search {
    color:white;
}

.navbar-toggler {
    color:white;
}

.nav-borderb {
    height:1px;
    background-color:white;
}


.img {
  max-height:400px;
}



.PBA-linkstyle:hover {
    text-decoration:none;
}




/* =================== First index container ================== */

.first-container-index {
    background:url(../img/first-img-index.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}

.border-separation-PBA-index {
    height:10px;
    background-color:white;
}


/* ============= First index container desktop version ========== */

#player
{
  height: 90vh;
  width: 99.2vw;
  margin: 0;
  z-index: -1;
}

.style-title
{
  display: grid;
  height: 100%;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto auto;
}

.fixed-pres-top
{
  position: absolute;
  top: 30vh;
  width: 100%;

}

.pad-fixed-pres
{
  padding: 40px;
}

.bgwhite-pres
{
  background-color: #fff;
  height: 17px;
}

.square-17px
{
  width: 17px;
}

.fixed-pres-title
{
  position: absolute;
  top: 40vh;
  width: 100%;

}

.fixed-pres-bot
{
  position: absolute;
  top: 68vh;
  width: 100%;

}

.size-title-pres
{
  font-size: 50px;
  text-decoration: none;
  color: #fff;
}

.size-title-pres:hover
{
  text-decoration: none;
  color: #fff;
}



/* ======================== Carousel ============================ */

.active .border-slider-top {
    position:absolute;
    top:10%;
    left:12%;
    height:14px;
    background-color:white;
}

.active .border-slider-bot {
    position:absolute;
    bottom:10%;
    left:12%;
    height:14px;
    background-color:white;
}

.fa-clipboard-check {
    position:absolute;
    top:18%;
    left:45%;
}

.slider-text {
    position:absolute;
    bottom:25%;
    left:10%;
    font-size:0.8em;
}

.slider-text h2 {
    font-size:1.4em;
}

.fa-sun {
    position:absolute;
    top:14%;
    left:45%;
}

@media all and (min-width:712px) {

    .fa-clipboard-check {
        position:absolute;
        top:25%;
        left:48%;
    }

    .fa-sun {
        position:absolute;
        top:20%;
        left:48%;
    }

    .slider-text {
        position:absolute;
        top:40%;
        left:10%;
        font-size:1.2em;
    }
}


/* ================== First container img index ================= */


.Bosch, .Raph, .Goya, .Donatello {
    height:75vh;
}

.Bosch {
    background:url(../img/img1-first-container.jpg) no-repeat;
    background-size:cover;
}

.img-text {
    background-color:white;
    margin-top:70%;
    margin-bottom:30%;
    height:30vh;
}

.Raph {
    background:url(../img/img2-first-container.jpg) no-repeat;
    background-size:cover;
}

.Goya {
    background:url(../img/img3-first-container.jpg) no-repeat;
    background-size:cover;
}

.Donatello {
    background:url(../img/img4-first-container.jpg) no-repeat;
    background-size:cover;
}


/* ==================== Transition image ==================== */


.transition-imgs {
    border: 2px solid white;
}

/* ================ Second container imgs ================== */

.second-container-img-hover:hover {
    opacity:0.8;
}

.grid-container {
    display:none;
}

.cellphone-second-container-imgs {
    min-height:350px;
}

@media all and (min-width:1200px){
    .grid-container {    
      display: grid;
      height: 45vh;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.5fr;
      grid-template-areas: "girls building people man landscape";
    }
}    

.girls { 
    grid-area:girls;
    height:45vh;
    background:url(../img/img1-second-container.jpg) no-repeat;
    background-size:cover;
}

.building {
    grid-area: building;
    height:45vh;
    background:url(../img/img2-second-container.jpg) no-repeat;
    background-size:cover;
}

.people { 
    grid-area: people; 
    height:45vh;
    background:url(../img/img3-second-container.jpg) no-repeat;
    background-size:cover;
}

.man { 
    grid-area: man;
    height:45vh;
    background:url(../img/img4-second-container.jpg) no-repeat;
    background-size:cover; 
}

.landscape { 
    grid-area: landscape;
    height:45vh;
    background:url(../img/img5-second-container.jpg) no-repeat;
    background-size:cover;     
}

@media all and (min-width:768px) {
    .landscape .cellphone-second-container-img {
        display:none;
    }
}

/* ================ Pre-footer + footer gestion ============= */

.pre-footer:hover {
    transition:color 0.5s !important;
    background-color:white !important;
    color:#D8383F !important;
}

.pre-footer:hover div, .transition-imgs:hover {
    border-color:#D8383F !important
}

/* ================ Hover selector for index ! ================= */

.pre-footer:hover .fa-tablet-alt, .pre-footer:hover .fa-mobile-alt, .pre-footer:hover .fa-building, .pre-footer:hover .fa-globe, .link-collection-content:hover .fa-square, .link-visiter-content:hover .fa-random, .link-holyday:hover .fa-clipboard-check, .link-sun:hover .fa-sun, .Bosch a:hover .Bosch-hover, .Raph a:hover .Raph-hover, .Goya a:hover .Goya-hover, .Donatello a:hover .Donatello-hover, .transition-imgs:hover .fa-clone, .transition-imgs:hover .fa-eye {
    color:#D8383F !important;
}

.pre-footer:hover .switch-to-red {
    color:#D8383F !important;
}

.font-footer {
    font-size:0.8em;
}

.bgred {
    background-color:#D8383F;
}

.bgblack {
    background-color:#1D1D1E;;
}

footer a {
    color:white;
    text-decoration:none;
}

footer a:hover {
    transition:color 0.5s !important;
    color:red !important;
    text-decoration:none;
}




@media all and (min-width:1200px) {
    .search {
        position:absolute;
        left:80%;
        top:35%;
    }
    .img-text {
        margin-top:65%;
        height:27vh;
    }
}

@media screen and (max-width: 767px) {

     .right, .right1, .right2{
       display: none;
     }

     .pagination--light{
       display: none;
     }

     .h3{
       font-size: 15px;
     }

     .gras{
       font-size: 13px;
     }

     .p{
       display: none;
     }

     .img{
       width: 100%
     }

     .h3, .p, .gras{
       margin-left: 4px;
     }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
  .right, .right1, .right2{
    display: none;
  }

  .pagination--light{
    display: none;
  }

  .p{
    display: none;
  }

  .img{
    width: 100%
  }

  .h3, .p, .gras{
    margin-left: 88px;
  }

}

@media screen and (min-width: 993px) and (max-width: 1204px) {

   .p{
     display: none;
   }

   .right, .right1, .right2{
     display: none;
   }

   .pagination--light{
     display: none;
   }

   .img{
     width: 100%
   }

   .h3, .p, .gras{
     margin-left: 120px;
   }

}












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
